@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,500&family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,900&family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400&family=League+Spartan:wght@500;700;800;900&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 125rem;
  padding: 1rem;
  margin: 2rem 1rem;
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 2rem auto !important;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}

p {
  line-height: 1.4;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif !important;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: 5rem;
    width: 10ch;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

.btn {
  padding: 1.5rem 3rem;
  margin: 1rem;
  border: 0;
  border-radius: 5px;
  font-weight: 900;
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  letter-spacing: -0.1px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn--green {
  background-color: #0e8684;
}

.btn--green:hover {
  background-color: #225c5b;
}

.btn--disabled {
  background-color: #e4e2e2;
}

.list li {
  margin-bottom: 1.2rem;
}

.list .list__links {
  color: #e4e2e0;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 2px;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}

.list .list__links:hover {
  border-bottom: 3px solid #0e8684;
}

.card {
  padding: 1rem 3rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .card {
    text-align: left;
  }
}

.card__name {
  color: #2c353e;
}

@media screen and (min-width: 750px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .card__text {
    max-width: 50ch;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.howItWork {
  margin-top: 40rem !important;
  padding-inline: 3rem !important;
}

.howItWork__title {
  color: #959595;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .howItWork__title {
    text-align: left;
  }
}

.howItWork__medthode {
  text-align: center;
  padding: 1rem;
}

.howItWork__medthode-index {
  color: #fbdec7;
  font-size: 7rem;
  font-weight: bolder;
  font-family: 'Fraunces', serif;
}

.howItWork__medthode-title {
  color: #2c353e;
  margin-block: 3rem;
}

@media screen and (min-width: 750px) {
  .howItWork__medthode {
    text-align: left;
  }
}

.howItWork__btn {
  margin-block: 6rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .howItWork__btn {
    text-align: left;
  }
}

.howItWork__steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-block: 2.5rem;
  opacity: 0;
  position: relative;
}

.howItWork__steps-container .steps {
  height: 30px;
  width: 30px;
  display: block;
  border: 1px solid #0e8684;
  background-color: white;
  border-radius: 50%;
}

.howItWork__steps-container .steps:first-child::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #fbdec7;
  display: inline-block;
  position: absolute;
  top: 1.3rem;
  z-index: -44;
}

@media screen and (min-width: 750px) {
  .howItWork__steps-container {
    opacity: 1;
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .howItWork {
    padding-inline: 4rem !important;
    margin-top: 25rem !important;
  }
}

.whyUs {
  background-color: #2c353e;
  border-radius: 10px;
  padding: 5rem 3rem;
  margin: 2rem;
  height: 130vh !important;
  position: relative;
}

@media screen and (min-width: 750px) {
  .whyUs {
    height: 80vh !important;
    width: 80%;
    margin-inline: auto;
  }
}

.whyUs__title, .whyUs__text {
  color: white;
  text-align: center;
}

.whyUs__title {
  font-size: 3.5rem;
}

.whyUs__text {
  margin-bottom: 4rem;
}

@media screen and (min-width: 1200px) {
  .whyUs__text {
    padding-inline: 20rem;
  }
}

.whyUs__callout-container {
  padding-inline: 3rem;
  position: absolute;
  top: 25rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.whyUs__callout-container h3 {
  color: white;
}

@media screen and (min-width: 1200px) {
  .whyUs__callout-container {
    top: 26rem;
  }
}

.whyUs__callout {
  background-color: #0e8684;
  margin: 1rem;
  max-width: 50rem !important;
  padding: 3rem 2rem;
  border-radius: 10px;
  margin-inline: auto;
  padding-block: 6rem;
}

.whyUs__callout img {
  width: 70px;
}

@media screen and (min-width: 750px) {
  .whyUs__callout .card__img--box {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.whyUs__callout h2, .whyUs__callout p {
  color: white;
}

@media screen and (min-width: 750px) {
  .whyUs__callout {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    max-width: 70rem !important;
    padding-block: 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 1200px) {
  .whyUs__callout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .whyUs__callout p {
    max-width: 100ch;
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    display: -ms-grid;
    display: grid;
  }
  .grid--cls-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .grid--cls-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .grid--cls-4 {
    -ms-grid-columns: (250px)[4];
        grid-template-columns: repeat(4, 250px);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .grid-md {
    display: -ms-grid;
    display: grid;
  }
  .grid-md-cl2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .grid-md-cl3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-inline: 0.5rem;
}

.nav__logo {
  height: 2.5rem;
}

.nav__close, .nav__hamburger {
  margin-top: 6px;
  height: 1.7rem;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .nav__close, .nav__hamburger {
    display: none;
  }
}

.nav__list {
  width: 100%;
  display: none;
}

@media screen and (min-width: 750px) {
  .nav__list {
    display: block;
    width: auto;
    display: inherit;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .nav__list .list__links {
    margin-inline: 10px;
    color: #bababa !important;
    font-size: 1.3rem;
  }
}

.nav__list .list__links {
  color: #2c353e;
}

.nav__list.show {
  display: block;
  text-align: center;
  margin-top: 4rem;
}

.nav__list.show li {
  margin-block: 3rem;
  font-size: 2.2rem;
}

.nav .hidden {
  display: none;
}

.hero {
  height: 80vh;
  margin: 3rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 750px) {
  .hero {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .hero {
    padding-left: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-position: top left;
  }
}

.hero__title, .hero__desc {
  color: white;
}

.hero__desc {
  margin-block: 1rem 2rem;
}

@media screen and (min-width: 750px) {
  .hero__desc {
    max-width: 45ch;
    margin-bottom: 4rem;
  }
}

.hero__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 750px) {
  .hero__btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.hero--home {
  background-image: url(/App/assets/home/mobile/image-hero-coffeepress.jpg);
}

@media screen and (min-width: 750px) {
  .hero--home {
    background-image: url(/App/assets/home/tablet/image-hero-coffeepress.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero--home {
    background-image: url(/App/assets/home/desktop/image-hero-coffeepress.jpg);
  }
}

.collection {
  margin-top: 6rem;
  padding-inline: 2rem;
}

.collection__title {
  text-align: center;
  color: #ccc;
  margin-bottom: 3rem;
  font-size: 4rem;
}

@media screen and (min-width: 750px) {
  .collection__title {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .collection__title {
    font-size: 17rem;
  }
}

.collection__item {
  margin-bottom: 7rem;
}

.collection__img {
  width: 200px !important;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
  .collection__img {
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
}

@media screen and (min-width: 750px) {
  .collection__desc {
    width: 35ch;
  }
}

@media screen and (min-width: 1200px) {
  .collection__desc {
    width: 25ch;
    text-align: center;
  }
}

.collection__name {
  font-size: 2.5rem;
}

.footer {
  background-color: #2c353e;
  padding: 4rem 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.footer__list {
  margin-block: 4rem;
}

.footer__list li {
  margin-block: 2.6rem !important;
}

.footer__list li a {
  font-size: 1.3rem;
  color: #bababa !important;
}

@media screen and (min-width: 750px) {
  .footer__list {
    display: inherit;
  }
  .footer__list li {
    margin-inline: 1rem;
  }
}

.footer__media .fa-brands {
  height: 1rem !important;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero--about {
  background-image: url(/App/assets/about/mobile/image-hero-whitecup.jpg);
}

@media screen and (min-width: 750px) {
  .hero--about {
    background-image: url(/App/assets/about/tablet/image-hero-whitecup.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero--about {
    background-image: url(/App/assets/about/desktop/image-hero-whitecup.jpg);
  }
}

.commitment {
  padding-inline: 2rem;
  margin-top: 4em !important;
}

.commitment__img {
  width: 90%;
  display: block;
  margin-inline: auto;
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .commitment__img {
    width: 45rem;
  }
}

.commitment__desc {
  text-align: center;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

@media screen and (min-width: 750px) {
  .commitment__desc {
    text-align: left;
  }
}

.commitment__title {
  margin-block: 6rem 3rem;
  color: #2c353e;
  text-align: center !important;
}

@media screen and (min-width: 750px) {
  .commitment__title {
    margin-top: 0;
  }
}

.quality {
  margin: 18rem 3rem;
  border-radius: 10px;
  background-image: url(/App/assets/about/mobile/bg-quality.png);
}

.quality__img {
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  position: relative;
  top: -14rem !important;
  background-image: url(/App/assets/about/mobile/image-quality.jpg);
}

@media screen and (min-width: 750px) {
  .quality__img {
    background-image: url(/App/assets/about/tablet/image-quality.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .quality__img {
    height: 45rem;
    background-image: url(/App/assets/about/desktop/image-quality.jpg);
  }
}

.quality__desc {
  padding: 1.5rem;
  text-align: center;
  position: relative;
  top: -8rem;
}

@media screen and (min-width: 750px) {
  .quality__desc {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .quality__desc {
    top: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/1/2;
    padding-left: 6rem;
    margin-top: 5rem;
  }
}

.quality__title, .quality__text {
  color: white;
}

@media screen and (min-width: 1200px) {
  .quality {
    margin-top: 16rem !important;
    width: 86%;
  }
}
/*# sourceMappingURL=main.css.map */