

.card{
    padding: 1rem 3rem;
    @include textAlign;
  

    &__name{
        color: $headingColor;
    }

  
    @include tablette{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        &__text{
            max-width: 50ch;
        }

    }
    @include desktop{
        flex-direction: column;
    }
}
 