
.footer{
    background-color:$headingColor;
   padding: 4rem 1rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__logo{
       filter:brightness(6) ;

   }
   &__list{
       margin-block: 4rem;
       li{
           margin-block: 2.6rem !important;
       }
       li a{
           font-size: 1.3rem;
           color: rgb(186, 186, 186) !important;             
       }
       @include tablette{
           display: inherit;
           li {
           margin-inline: 1rem;
           }
       }
       @include desktop{
        width: 40%;
        justify-content: space-between !important;
       }
   }

 &__media{
 img{
    margin-inline: 10px;
    height: 3rem;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
        transform: scale(1.3);
    }
 }
 }

   @include desktop{
       padding: 4rem;
     flex-direction: row;
     justify-content: space-between;
   
     max-width: 96% !important;
   }
}
