@include desktop{
    .grid{
        display: grid;
    }

    .grid--cls-2{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .grid--cls-3{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    .grid--cls-4{
        grid-template-columns: repeat(4,250px);
        column-gap: 3rem;
        justify-content: center;
    }
}

@include tablette{
    .grid-md{
        display: grid;
    }
    .grid-md-cl3{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}