

.hero--about{
    background-image: url(/App/assets/about/mobile/image-hero-whitecup.jpg);
    @include tablette{
      background-image: url(/App/assets/about/tablet/image-hero-whitecup.jpg);
    }
    @include desktop{
      background-image: url(/App/assets/about/desktop/image-hero-whitecup.jpg);
    }

  }


