 .howItWork--plan{
     margin-top:10rem !important;
    border-radius: $borderRadius;
  background-color: $headingColor;
    p{
        color: white;
    }
    h2{
        color: white;
    }
       .steps{
        z-index:9999999999999999999999;
              background-color:$headingColor!important;
       }
    @include desktop{
        width: 85%;
    }

  }